@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  box-sizing: border-box;
}

.BlackInfoBox {
  margin: 4rem auto;
  width: 90%;
  height: 30rem;
  background-color: black;
  color: white;
  display: flex;
}

h2 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0 auto;
  padding-top: 2rem;
  padding-left: 4rem;
}

.BoxTxt {
  font-family: "Open Sans", sans-serif;
  font-size: small;
  padding: 1.25rem;
  display: flex;
  width: 50%;
  line-height: 2.5;
  padding-left: 5rem;
}

.BoxTxt__OpenHours{

    padding-right: 15rem;
    line-height: 1.8;
    font-size: small;
}
