nav {
    background-color: black;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav ul li{
    display: flex;
    list-style-type: none;
}


nav ul li a{
    display: flex;   
    margin: 0 10px;
    width: 5rem;
    color: white;
    text-decoration: none;
    justify-content: center;
   
}

.box_logo{
    width: 5rem;
    height: 5rem;
    background-color: black;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
}

.box_logo p{
   
    width: 1rem;
}